In [1]:
import pandas as pd
import sqlite3
import utils as ut

In [2]:
# Load config dict
config = ut.load_config()

# Connect to the SQLite database
conn = sqlite3.connect(config['db_name'])

# Query the database to fetch the required data
df = pd.read_sql_query("SELECT * FROM reservations", conn)

df.head()

,ID,STATE,ORIGIN,CREATEDUTC,BUSINESSSEGMENTID,PURPOSE
0,f9859ab1-c78d-411d-89ad-b0af00f8a56e,Started,Commander,2023-11-03T15:05:17Z,None,None
1,41061fde-33b8-4941-b373-b0af00dfc5ce,Canceled,Commander,2023-11-03T13:34:43Z,None,Leisure
2,c0de13bf-2f21-473a-bd2e-b0af00df7543,Optional,Connector,2023-11-03T13:33:34Z,None,None
3,350ac9c4-f012-4f49-b78b-b0af00df7543,Optional,Connector,2023-11-03T13:33:34Z,None,None
4,026b1803-ba8f-4a36-b73b-b0af00df7543,Optional,Connector,2023-11-03T13:33:34Z,None,None

In [4]:
df['STATE'].value_counts()

STATE
Canceled     815
Confirmed    120
Processed     46
Started       14
Optional       5
Inquired       1
Name: count, dtype: int64

In [5]:
df['ORIGIN'].value_counts()

ORIGIN
Connector    544
Commander    457
Name: count, dtype: int64

In [6]:
df['BUSINESSSEGMENTID'].value_counts()

BUSINESSSEGMENTID
307f6122-bed6-4a1c-9efe-ab3a00c82222    29
56978b38-dd21-4cdb-b76d-ab3a00c764cc     2
60c18f1e-9956-4057-8d32-b03f002dfa3a     1
Name: count, dtype: int64

In [7]:
df['PURPOSE'].value_counts()

PURPOSE
Leisure     62
Business    12
Student      1
Name: count, dtype: int64